@media (max-width: 575.98px) {
    .navbar_btn a {
        padding: 8px 15px;
        font-size: 13px;
        margin-right: 15px;
        margin-top: 5px;
    }
    .toggol_bar i {
        font-size: 18px;
        top: 7px;
        right: 12px;
    }
    .navbar-expand-lg {
        top: -4px;
        left: 0;
        text-align: center;
    }
    img, svg {
        padding-top: 15px;
    }
    .banner_text h1 {
        font-size: 41px;
        line-height: 54px;
        width: auto;
        margin: 0 auto;
        text-align: center;
    }
    #banner {
        padding: 110px 0 50px 0;
    }
    .wow.animate__backInUp.banner_btn {
     display: block;
     text-align: center;
    }
    .banner_text p {
        font-size: 15px;
        padding-bottom: 13px;
        width: auto;
        text-align: center;
    }
    .banner_btn a {
        font-size: 15px;
        padding: 15px 18px;
    }
    .banner_player {
        display: none;
    }
    #collaborative {
        padding-top: 104px;
        width: auto;
        text-align: center;
    }
    .collaborative_top_text h3 {
        font-size: 36px;
        width: auto;
    }
    .collaborative_top_text p {
        font-size: 17px;
        width: auto;
        padding-bottom: 25px;
    }
    .collaborative_card {
        margin: 0px 22px 0 22px;
    }
    .collaborative_card_wra h3 {
        font-size: 18px;
        padding: 14px 0 6px 0;
    }
    .collaborative_card_wra p {
        font-size: 13px;
        padding-bottom: 28px;
    }
    .collaborative_card_bell i {
        font-size: 30px;
        padding: 20px 25px 30px;
    }
    .happy_top_text h3 {
        width: auto;
        font-weight: 600;
        font-size: 36px;
        padding-top: 49px;
        padding-bottom: 30px;
        text-align: center;
    }
    .happy_contant {
        display: block;
        text-align: center;
    }
    .contant1 p {
        padding-left: 0px;
        padding-bottom: 15px;
        font-size: 13px;
        line-height: 18px;
    }
    .contant1_had h3 {
        font-size: 35px;
        padding-right: 5px;
    }
    .d-flex {
        display: block !important;
    }
    .happy_contant_wra {
        margin-left: 0px;
        text-align: center;
    }
    #happy {
        padding-bottom: 35px;
    }
    .lable_hape img {
        display: none;
    }
    #lable .col-lg-5 .lable_left_contant:last-child {
        margin-bottom: 55px;
    }
    .lable_right_contant img {
        padding-top: 0px;
        width: 100%;
        padding: 0 5px 0 5px;
    }.lable_left_contant {
        height: 158px;
        text-align: center;
        width: auto;
    }
    #lable {
        padding-bottom: 50px;
    }
    .lable_left_contant p {
        padding-left: 0;
        width: auto;
        font-size: 14px;
        text-align: center;
    }
    .Decision {
        margin-top: -4px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
    }
    .lable_right_contant::after {
        left: 1px;
        width: 100%;
        height: 293px;
    }
    .customer_det img {
        display: none;
    }
    .customer_det {
        padding-top: 35px !important;
        padding-left: 0px !important;
        text-align: center !important;
    }







    .customer_hadding h3 {
        font-size: 35px;
    }
    .images_vic img {
        display: none;
    }
    .images_vic2 img {
        display: none;
    }
    .image_shape .man_img {
        margin-top: -22px;
    }
    .image_shape {
        top: 10px;
        left: -50px;
    }
    .image_shape img {
        width: 100%;
        margin-top: 15px;
    }
    .customer_det p {
        font-size: 19px;
        line-height: 28px;
        width: 100%;
    }
    .customer_det {
        padding-top: 110px;
        padding-left: 0px;
        text-align: left;
    }
    .customer_det h3 {
        font-weight: 600;
        font-size: 23px;
        padding: 18px 0 15px 0;
    }
    .customer_det h4 {
        font-size: 20px;
    }
    #customer {
        padding-bottom: 50px;
    }
    .customers_slider ul {
        bottom: -42px;
        left: 50%;
    }
    .customer_det img {
        top: -25px;
        left: 50px;
    }
    .help_left_part h2 {
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        width: auto;
        text-align: center;
    }
    .help_left_part a {
        width: auto;
        padding: 0 10px;
    }
    .right_part {
        margin-left: 0px !important;
    }
    .help_left_part {
        margin-left: 0px !important;
    }
    #help {
        padding-bottom: 5px;
        padding-top: 0px;
    }
    .right_part {
        margin-left: 74px;
    }
    .right_part p {
        font-size: 17px;
        line-height: 27px;
        padding-top: 10px 0 5px 0;
        width: auto;
        padding-top: 12px;
        text-align: center;
    }
    #footer {
        padding: 22px 0 25px 0;
    }
    #help::after {
        height: 481px;
    }
    .footer_top_line {
        top: 16px;
    }
    .footer_logo_part {
        text-align: center;
    }
    .footer_logo_part p {
        font-size: 13px;
        line-height: 22px;
        padding-top: 16px;
    }
    .footer_socials_detels {
        text-align: center;
    }
    .footer_socials_detels h3 {
        font-size: 20px;
        padding-bottom: 26px;
        padding-top: 18px;
    }
    .footer_socials_icon {
        text-align: center;
    }
    .Quick_part {
        text-align: center;
    }
    .Quick_part h3 {
        font-size: 19px;
        padding-bottom: 28px;
        padding-top: 21px;
    }
    .Location_part {
        text-align: center;
    }
    .Location_part h3 {
        font-size: 19px;
        padding-bottom: 28px;
        padding-top: 18px;
    }
    .Location_part p {
        font-size: 13px;
        width: auto;
        padding-bottom: 15px;
        text-align: center;
    }
    #footer {
        padding: 42px 0 25px 0;
    }
    #copyright {
        padding: 24px 0 24px 0;
    }
    .top_bottom {
        right: 35px;
        width: 40px;
        height: 40px;
    }
    .color_switcher {
        padding: 8px;
    }

}